:root { 
--gray_600:#6b7280; 
--blue_gray_100:#c9cfd5; 
--blue_gray_400:#7b809a; 
--red_600:#ec3d3d; 
--blue_gray_100_01:#c9cfd6; 
--gray_900:#111827; 
--gray_200:#e5e7eb; 
--gray_50:#f9fafb; 
--gray_100:#f0f2f5; 
--black_900:#000000; 
--blue_gray_800:#374151; 
--white_A700:#ffffff; 
--black_900_26:#00000026; 
}